.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 220, 220);
    z-index: 50;
}

.left-section{
    /* width: 150px; */
    display: flex;
    align-items: center;
}

.middle-section{
    flex: 1;
    max-width: 500px;
    margin-left: 78px;
    margin-right: 35px;
    display: flex;
    align-items: center;
}

.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.hamburger-menu{
    height: 23px;
    margin-left: 25px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
}

.search-button{
    /* flex: 1; */
    height: 38px;
    width: 65px;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-color: rgb(198, 198, 198);
    background-color: rgb(255, 255, 255);
}

.voice-search-button{
    height: 37px;
    width: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.search-bar{
    height: 34px;
    flex: 1; 
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(198, 198, 198);
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.1);
    width: 0;
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-icon{
    height: 25px;
    margin-top: 4px;
}

.voice-search-icon{
    margin-top: 4px;
    margin-left: 10px;
    width: 25px;
}

.upload-icon{
    height: 24px;
}

.youtube-apps-icon{
    height: 24px;
}

.notifications-icon{
    height: 24px;
}

.user-icon{
    height: 32px;
    border-radius: 50%;

}
.notifications-button{
    position: relative;
    padding-right: 4px;
}

.notifications-count{
    color: white;
    background-color: rgb(205, 0, 0);
    border-radius: 50%;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 10px;
    right: 0;
    font-family: Roboto, Arial;
}